
select {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #ffffff;
  color: #000000;
  width: 200px;
  text-align: center;
  margin-left: 100;
}

option {
  padding: 10px;
  
  font-size: 16px;
  background-color: #fff;
  color: #333;
}
.recherche{
  
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #ffffff;
  color: #000000;
  width: 200px;
  text-align: center;
}
/*---------------------------------------
  CUSTOM BUTTON               
-----------------------------------------*/
.custom-btn {
    background: var(--custom-btn-bg-color);
    border: 2px solid transparent;
    border-radius: var(--border-radius-large);
    color: var(--white-color);
    font-size: var(--btn-font-size);
    font-weight: var(--font-weight-bold);
    line-height: normal;
    transition: all 0.3s;
    padding: 6px 18px;
  }
  
  .custom-btn:hover {
    background: var(--custom-btn-bg-hover-color);
    color: var(--white-color);
  }
  
  .custom-border-btn {
    background: transparent;
    border: 2px solid var(--secondary-color);
    color: var(--secondary-color);
  }
  
  .custom-border-btn:hover {
    background: var(--secondary-color);
    border-color: transparent;
    color: var(--white-color);
  }
  
  .custom-btn-bg-white {
    border-color: var(--white-color);
    color: var(--white-color);
  }
  
  .custom-btn-group .link {
    color: var(--white-color);
    font-weight: var(--font-weight-medium);
  }
  
  .custom-btn-group .link:hover {
    color: var(--link-hover-color);
  }
  
  